/* Floating Navbar */

.navbar {
    transition: all .35s ease;
}

.navbar-glass {
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 999px;
    border: 1px solid rgba(255,255,255,.08);
    background:
        linear-gradient(
        180deg,
        rgba(255,255,255,.06),
        rgba(255,255,255,.03)
        );
    box-shadow:0 12px 40px rgba(0,0,0,.35);
}

.navbar-scrolled{
    backdrop-filter: blur(30px);
    background:rgba(9,15,32,.78);
    border-color:rgba(120,160,255,.12);
    box-shadow: 0 10px 50px rgba(40,80,255,.15),
                0 0 0 1px rgba(255,255,255,.03);
}

/* Link Hover */
.nav-link{
    position:relative;
    transition:.35s;
}

.nav-link:hover{
    color:white;
}

/* Glow Line */
.nav-link::after{
    content:"";
    position:absolute;
    left:50%;
    bottom:-8px;
    transform:translateX(-50%);
    width:0;
    height:2px;
    border-radius:99px;
    background:#58A6FF;
    transition:.35s;
    box-shadow: 0 0 12px #58A6FF,
                0 0 24px #58A6FF;

}

.nav-link:hover::after{
    width:70%;
}

/* CTA Resume */
.nav-btn{
    transition:.3s;
    box-shadow: 0 0 0 transparent;
}

.nav-btn:hover{
    transform:translateY(-2px);
    box-shadow: 0 0 18px rgba(58,122,255,.45);
}

/* Logo Hover */
.logo{
    transition:.3s;
}

.logo:hover{
    color:white;
    text-shadow: 0 0 12px rgba(88,166,255,.7);
}

/* Theme Toggle */
.theme-btn{
    transition:.3s;
}

.theme-btn:hover{
    transform:rotate(18deg);
    box-shadow: 0 0 20px rgba(88,166,255,.3);
}